.header-name {
  color: rgb(231, 224, 238);
  font-family: "Open Sans", sans-serif;
}

.ques {
  color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  font-weight: 500;
}

.content .container ul {
  margin-left: -40px;
}

.content .container ul li {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 15px;
  width: 500px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s ease;
  color: #21354c;
}

.content .container ul li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container {
  width: 640px;
  background-color: rgb(231, 224, 238);
  display: flex;
  flex-direction: column;
  gap: 4px;
  border-radius: 10px;
  padding: 40px 50px;
  align-items: center;
}

.content hr {
  height: 2px;
  border: none;
  background: #fff;
}

.container .index {
  margin: auto;
  font-size: 15px;
  color: #707070;
}

.container img {
  width: 300px;
  height: 200px;
  border-radius: 5px;
}

.container .correct {
  background: #84e5be;
  border-color: #00d397;
}

.container .wrong {
  background: #ec9292;
  border-color: #ff4a4a;
}

.container .timer {
  color: #686868;
}
