@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #6015ab;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: #000;
  font-weight: 800;
  font-style: normal;
  text-decoration: underline;
  letter-spacing: 5px;
}

.list-type {
  color: #fff;
  list-style-type: unset;
  font-weight: 100;
  line-height: 25pt;
  font-style: normal;
  text-align: left;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  padding: 20px 45px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transition: 1000ms;
  padding: 20px 45px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #0066cc 0%, #c500cc 100%);
  color: #fff;
  border: solid 2px #0066cc;
  font-weight: 900;
}

.btn-div {
  display: flex;
  justify-content: center;
  height: 40px;
}
